<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Balda</h2>
<p>Введите имя файла из перечисленных ниже:</p>
<form method="post", action="/select_file">
    <input type="text", name="text">
    <button type="submit">Select file</button>
</form>

<h3>Files list:</h3>
<form method="post", action="/find_files">
    <button type="submit">Find files</button>
</form>
{% for message in messages %}
<div>{{ message.text }}</div>
{% endfor %}

<!--<p>Введите имя файла из перечисленных ниже:</p>-->
<!--<form method="post", action="/select_file">-->
<!--<p><input type="search" list="character">-->
<!--   <button type="submit">Select file</button>-->
<!--  <datalist id="character">-->
<!--  {% for opt in option %}-->
<!--    <option value="{{ opt }}"></option>-->
<!--  {% endfor %}-->
<!--  </datalist>-->
<!--</p>-->
<!--</form>-->

</body>
</html>